---
WarningsAsErrors: ""
HeaderFileExtensions: ["hpp"]
ImplementationFileExtensions: ["ipp"]
HeaderFilterRegex: "include/fitoria/*"
FormatStyle: none
Checks: >
  -*,
  bugprone-*,
  -bugprone-casting-through-void,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-forwarding-reference-overload,
  -bugprone-use-after-move,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-default-member-init,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard
---

