name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os_cxx.os }}
    strategy:
      fail-fast: false
      matrix:
        os_cxx:
          - os: windows-2022
            cxx: cl
          - os: ubuntu-22.04
            cxx: g++-13
          - os: macos-12
            cxx: $(brew --prefix llvm@15)/bin/clang++
        std: [20]
        build_type: [Debug, Release]
        generator: [Ninja]
        disable_openssl: [ON, OFF]

    steps:
      - uses: actions/checkout@v4

      - name: Cache vcpkg
        id: cache-vcpkg
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: ${{ runner.os }}-vcpkg-${{ hashFiles('**/') }}
          restore-keys: ${{ runner.os }}-vcpkg-

      - name: Add msbuild to PATH env
        if: matrix.os_cxx.cxx == 'cl'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install dependencies on windows
        if: startsWith(matrix.os_cxx.os, 'windows')
        shell: pwsh
        env:
          VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg_cache
        run: |
          New-Item -ItemType "directory" -Path ${{ github.workspace }}/vcpkg_cache -Force
          choco install ninja cmake
          ninja --version
          cmake --version
          vcpkg install boost-asio:x64-windows
          vcpkg install boost-beast:x64-windows
          vcpkg install boost-json:x64-windows
          vcpkg install boost-url:x64-windows
          vcpkg install boost-regex:x64-windows
          vcpkg install openssl:x64-windows
          vcpkg install fmt:x64-windows
          vcpkg install zlib:x64-windows
          vcpkg install doctest:x64-windows

      - name: Install dependencies on ubuntu
        if: startsWith(matrix.os_cxx.os, 'ubuntu')
        shell: bash
        env:
          VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg_cache
        run: |
          sudo apt-get update
          mkdir -p ${{ github.workspace }}/vcpkg_cache
          sudo apt-get install ninja-build cmake
          ninja --version
          cmake --version
          vcpkg install boost-asio:x64-linux
          vcpkg install boost-beast:x64-linux
          vcpkg install boost-json:x64-linux
          vcpkg install boost-url:x64-linux
          vcpkg install boost-regex:x64-linux
          vcpkg install openssl:x64-linux
          vcpkg install fmt:x64-linux
          vcpkg install zlib:x64-linux
          vcpkg install doctest:x64-linux

      - name: Install dependencies on macos
        if: startsWith(matrix.os_cxx.os, 'macos')
        shell: bash
        env:
          VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg_cache
        run: |
          mkdir -p ${{ github.workspace }}/vcpkg_cache
          brew install cmake ninja pkg-config
          ninja --version
          cmake --version
          vcpkg install boost-asio:x64-osx
          vcpkg install boost-beast:x64-osx
          vcpkg install boost-json:x64-osx
          vcpkg install boost-url:x64-osx
          vcpkg install boost-regex:x64-osx
          vcpkg install openssl:x64-osx
          vcpkg install fmt:x64-osx
          vcpkg install zlib:x64-osx
          vcpkg install doctest:x64-osx

      - name: Configure
        shell: bash
        run: |
          cmake \
            -B build \
            -G "${{ matrix.generator }}" \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.os_cxx.cxx }} \
            -DCMAKE_CXX_STANDARD:STRING=${{ matrix.std }} \
            -DCMAKE_TOOLCHAIN_FILE=${VCPKG_INSTALLATION_ROOT}/scripts/buildsystems/vcpkg.cmake \
            -DFITORIA_BUILD_EXAMPLES=ON \
            -DFITORIA_BUILD_TESTS=ON \
            -DFITORIA_DISABLE_OPENSSL=${{ matrix.disable_openssl }} \
            -DFITORIA_DISABLE_ZLIB=OFF

      - name: Build
        shell: bash
        run: cmake --build build --config ${{ matrix.build_type }} -j2

      - name: Test
        shell: bash
        working-directory: ${{ github.workspace }}/build
        run: ctest --output-on-failure .
