name: doc

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5

      - name: Build
        run: |
          sudo apt-get install doxygen
          pip install sphinx pydata-sphinx-theme breathe
          cd ./doc
          doxygen ./doxygen/Doxyfile
          sphinx-build -b html sphinx/source build_sphinx -D"breathe_projects.fitoria=../../build_doxygen/xml"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/build_sphinx
